<html xmlns:form="http://www.w3.org/1999/xhtml" lang="de">
<head>
    <title>Customers</title></head>
<body>

    <table>
        <tr>
            <th><b>Firstname</b></th>
            <th><b>Lastname</b></th>
            <th><b>E-Mail</b></th>
        </tr>
        <tr th:each="item: ${items}">
            <td th:text="${item.billingAddress.firstName}" />
            <td th:text="${item.billingAddress.lastName}" />
            <td th:text="${item.billingAddress.emailAddress}" />
        </tr>
    </table>


</body>
</html>